
.input-transition {
    transition: max-width 0.5s ease-out, padding 0.5s ease-out; 
    max-width: 100%;
    width: 100%; 
}

.icon-transition {
    opacity: 0;
    transition: opacity 0.5s ease-out; 
}

.is-valid .icon-transition {
    opacity: 1;
}
